<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <br /><br />
      <app-navbar></app-navbar>
      <br />
      <div style="min-height: 600px">
        <br />
        <table class="table">
          <thead>
            <tr>
              <th>Dept ID</th>
              <th>Dept Name</th>
              <th>Dept Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of departments">
              <td>{{ item.deptId }}</td>
              <td>{{ item.deptName | uppercase }}</td>
              <td>{{ item.deptLocation }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <p>Designed By SNAD Develpers</p>
    </div>
  </div>
</div>
